APP_NAME="appname"
ENVIRONMENT="prd"
UPLOAD_LOCATION=
USER_IMAGE_UPLOAD_FOLDER=uploads/images/users
BOOK_IMAGE_UPLOAD_FOLDER=uploads/images/books
API_VERSION=1
API_PORT=0000
MAINTENANCE=false
MONGO_URI=mongodb:rota
JWT_SECRET=secreto